<div class="col-lg-2"></div>
<div class="col-lg-8">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="{{i}}" ng-class="{'active':$index==0}" ng-repeat="i in arr"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox" style="height:90%">
			<div class="item" ng-class="{'active':$index==0}" ng-repeat="obj in corousel">
				<img ng-src="{{obj.img}}" alt="Chania" style="height:100%; width:100%">
				<div class="carousel-caption">
					<h3 style="color:yellow">{{obj.header}}</h3>
					<p style="color:yellow">{{obj.data}}</p>
				</div>
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>